.form-container {
  max-width: 400px;
  margin: 0 auto;
  display: grid;
}

.button-stack {
  margin-top: 20px;
}
.css-97 {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  height: auto;
  box-sizing: 40px;
  
}